
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400&display=swap');

h1{
    font-family: 'Karma', serif;
    width: fit-content;
 margin-left: 3%;
}



.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchbar {
    width: 65%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchbar:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 50px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;


 
  }






body {
    background: #f3f2ef;
  padding-left: 40%;

  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }
  
.box{
    width: 20vw;
margin-top: 4%;
        height: 60vh;
        border-radius: 0.5rem;
        box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
        background: #a5bbdd;
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        min-width: 20rem;
        min-height: 20rem;
}
h2{
  text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


@media (max-width: 540px) {



  h1{
    font-family: 'Karma', serif;
    font-size:1.3rem;
    width: 20rem;
 margin-left: 5rem;


}


  .search {
    width: 100%;
    position: relative;
    display: flex;
    margin-left: 1.5rem;
   
  }
  
  .searchbar {
    width: 10rem;
    border: 3px solid #cc5c00;
    border-right: none;
    padding: 5px;

    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;

  }
  
  .searchbar:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 50px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;


 
  }


  body {

  padding-left: 2rem;

  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    width: 60vw;
  }
  
.box{
    width: 20vw;
margin-top: 2rem;
        height: 60vh;
        border-radius: 0.5rem;
        box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
        background: #a5bbdd;
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        min-width: 20rem;
        min-height: 20rem;
}
h2{
  text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



}
